Sample Theory

In [1]:
import numpy as np
population = np.random.randint(0, 80, 10000)

In [3]:
population[0:10]

array([14, 74, 44, 13, 24, 51, 31, 14, 70,  1])

Sampling

In [4]:
np.random.seed(115)
sample = np.random.choice(a = population, size = 100)
sample[0:10]

array([43, 21, 41, 41,  6, 73, 13, 16,  0, 14])

In [5]:
sample.mean()

38.05

In [6]:
population.mean()

39.275

Sample Distribution

In [7]:
sample1 = np.random.choice(a = population, size = 100)
sample2 = np.random.choice(a = population, size = 100)
sample3 = np.random.choice(a = population, size = 100)
sample4 = np.random.choice(a = population, size = 100)
sample5 = np.random.choice(a = population, size = 100)

In [8]:
total_mean = 0
for i in [sample1, sample2, sample3, sample4, sample5]:
    total_mean += i.mean()

total_mean/5

38.912

Descriptive Statistics

In [5]:
import seaborn as sns
tips = sns.load_dataset('tips')
df = tips.copy()
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [3]:
%pip install researchpy
import researchpy as rp

Requirement already satisfied: researchpy in c:\users\lenovo\anaconda3\lib\site-packages (0.3.6)
Requirement already satisfied: scipy in c:\users\lenovo\anaconda3\lib\site-packages (from researchpy) (1.13.1)
Requirement already satisfied: numpy in c:\users\lenovo\anaconda3\lib\site-packages (from researchpy) (1.26.4)
Requirement already satisfied: pandas in c:\users\lenovo\anaconda3\lib\site-packages (from researchpy) (2.2.2)
Requirement already satisfied: statsmodels in c:\users\lenovo\anaconda3\lib\site-packages (from researchpy) (0.14.2)
Requirement already satisfied: patsy in c:\users\lenovo\anaconda3\lib\site-packages (from researchpy) (0.5.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas->researchpy) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas->researchpy) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas->researchpy) (2023.3)
Requirement already satisfied: six in c:\users\lenovo\anaconda3\lib\site-packages (from patsy->researchpy) (1.16.0)
Requirement already satisfied: packaging>=21.3 in c:\users\lenovo\anaconda3\lib\site-packages (from statsmodels->researchpy) (24.1)
Note: you may need to restart the kernel to use updated packages.

In [35]:
idx = ['total_bill', 'tip', 'size']
rp.summary_cont(df[idx])
# warning has not fixed yet

c:\Users\Lenovo\anaconda3\Lib\site-packages\researchpy\summary.py:102: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'total_bill' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table_a.iloc[0,0] = ix
c:\Users\Lenovo\anaconda3\Lib\site-packages\researchpy\summary.py:102: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'tip' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table_a.iloc[0,0] = ix
c:\Users\Lenovo\anaconda3\Lib\site-packages\researchpy\summary.py:102: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'size' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table_a.iloc[0,0] = ix

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7864  8.9027  0.5699    18.6637   20.9090
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

In [33]:
df.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size           float64
dtype: object

In [36]:
cat_index = ['sex', 'smoker', 'day', 'time']
rp.summary_cat(df[cat_index])

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79
8     time  Dinner    176    72.13
9            Lunch     68    27.87

In [37]:
df[['total_bill', 'tip']].cov()

            total_bill       tip
total_bill   79.257732  8.324011
tip           8.324011  1.914455

In [38]:
df[['total_bill', 'tip']].corr()

            total_bill       tip
total_bill    1.000000  0.675755
tip           0.675755  1.000000

BUSINESS PRACTICE: Product Price decision support

In [39]:
import numpy as np
prices = np.random.randint(1, 110, 1000)

In [40]:
prices.mean()

54.695

Confidence Interval

In [41]:
import statsmodels.stats.api as sms
sms.DescrStatsW(prices).tconfint_mean()

(52.80443685394392, 56.58556314605608)