NonParametric Single T Test

In [1]:
import numpy as np

measurements = np.array([17, 160, 234, 149, 145, 107, 197, 75, 201, 225, 211, 119, 
                     157, 145, 127, 244, 163, 114, 145, 65, 112, 185, 202, 146, 
                     203, 224, 203, 114, 188, 156, 187, 154, 177, 95, 165, 50, 
                     110, 216, 138, 151, 166, 135, 155, 84, 251, 173, 131, 207, 
                     121, 120])

In [3]:
from statsmodels.stats.descriptivestats import sign_test
sign_test(measurements, 170)

(-7.0, 0.06490864707227217)

Independent Two Sample Test

In [2]:
import scipy.stats as stats
#data type 1
import pandas as pd

A = pd.DataFrame([30, 27, 21, 27, 29, 30, 20, 20, 27, 32, 35, 22, 24, 23, 25, 27, 
                  23, 27, 23, 25, 21, 18, 24, 26, 33, 26, 27, 28, 19, 25])

B = pd.DataFrame([37, 39, 31, 31, 34, 38, 30, 36, 29, 28, 38, 28, 37, 37, 30, 32, 
                  31, 31, 27, 32, 33, 33, 31, 32, 33, 26, 32, 33, 29, 30])

A_B = pd.concat([A, B], axis=1)
A_B.columns = ["A", "B"]

A_B.head()

stats.mannwhitneyu(A_B["A"], A_B["B"])

MannwhitneyuResult(statistic=92.0, pvalue=1.1738876012937541e-07)

Dependent Two Sample Test

In [3]:
stats.wilcoxon(A_B["A"], A_B["B"])

WilcoxonResult(statistic=4.5, pvalue=5.944508946428752e-06)

In [4]:
test_stats, p_value = stats.wilcoxon(A_B["A"], A_B["B"])
print("test stat: %.4f, p-val: %.4f" % (test_stats, p_value))

test stat: 4.5000, p-val: 0.0000

NONPARAMETRIC VARIANCE ANALYSIS TEST

In [11]:
A = pd.DataFrame([28, 33, 30, 29, 28, 29, 27, 31, 30, 32, 28, 33, 25, 29, 27, 31, 
                  31, 30, 31, 34, 30, 32, 31])

B = pd.DataFrame([31, 32, 30, 30, 33, 32, 34, 27, 36, 30, 31, 30, 38, 29, 30, 34, 
                  34, 31, 35, 35, 33, 30, 28])

C = pd.DataFrame([40, 33, 38, 41, 42, 43, 38, 35, 39, 39, 36, 34, 35, 40, 38, 36, 
                  39, 36, 33, 35, 38, 35, 40])

ABC = pd.concat([A,B,C], axis=1)
ABC.columns = ["Group_A", "Group_B", "Group_C"]
ABC.head()

   Group_A  Group_B  Group_C
0       28       31       40
1       33       32       33
2       30       30       38
3       29       30       41
4       28       33       42

In [ ]:
from scipy.stats import kruskal

kruskal(ABC["Group_A"], ABC["Group_B"], ABC["Group_C"])

KruskalResult(statistic=41.41835051661897, pvalue=1.014190318754816e-09)

p_val < 0.05. So, h0 is rejected. There is a meaningful difference between groups.